<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	<title>OpenAI ChatGPT Demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<main>
        <div id="messages">


        </div>
        <div id="form">
        <form id="chat-form">
            <div class="form-group">
                <label for="message">Ask ChatGPT:</label>
                <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
	</main>
    <script>
        let eventSource;
        const form = document.getElementById("chat-form");
        const targetContainer = document.getElementById("messages");
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            const message = document.getElementById("message").value;
            const data = JSON.stringify({message: message});
            var requestDiv = document.createElement('div');
            requestDiv.innerText = message;
            requestDiv.classList.add("card");
            requestDiv.classList.add("bg-info");
            targetContainer.appendChild(requestDiv);

            var responseDiv = document.createElement('div');
            responseDiv.classList.add("card");
            responseDiv.classList.add("bg-light");
            targetContainer.appendChild(responseDiv);

            eventSource = new EventSource(`/chat?message=${message}`);
            eventSource.addEventListener("message", function(e) {
                const message = JSON.parse(e.data);
                responseDiv.innerText += message.text;
            });
            eventSource.addEventListener('bye', function(e) {
                eventSource.close();
            });

            document.getElementById("message").value = "";
        });
    </script>
</body>