quart==0.18.4
werkzeug==2.3.7
gunicorn
uvicorn[standard]
openai
azure-identity
python-dotenv==0.21.1 # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
pyyaml==5.3.1 # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
