quart==0.18.4
werkzeug==3.0.1
gunicorn
uvicorn[standard]
openai
azure-identity
python-dotenv==1.0.0 # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
pyyaml==6.0.1 # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
